<h1>Proyectos</h1>
<div class="card-container"> 
    <div class="card">
        <img src="<%= asset_path('gestor1.png') %>" alt="Proyecto 1">
        <p>Gestor de tareas</p>
        <a href="https://github.com/NemusD/GestorTareas" class="btn btn-custom">Ver más</a>
    </div>
    <div class="card">
        <img src="<%= asset_path('Olivia1.png') %>" alt="Proyecto 2">
        <p>Página web de viajes y blog</p>
        <a href="https://github.com/NemusD/olivia-ros" class="btn btn-custom">Ver más</a>
    </div>
    <div class="card">
        <img src="<%= asset_path('Ricomida1.png') %>" alt="Proyecto 1">
        <p>Página web de restaurant</p>
        <a href="https://github.com/NemusD/Ricomida" class="btn btn-custom">Ver más</a>
    </div>
    <div class="card">
        <img src="<%= asset_path('Viaje1.png') %>" alt="Proyecto 1">
        <p>Página web de viajes por Chile</p>
        <a href="https://github.com/NemusD/viajes_chile" class="btn btn-custom">Ver más</a>
    </div>
</div>


